<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">

  <title>Document</title>
</head>
<header>
<nav>
  <a href="/">Home Page</a>
  <a href="/searches/new">Search</a>
</nav>
<h1> Best books! </h1>


</header>
<main>

<section>
    <% bookdetail.forEach(data => { %>
        <div id="detail">
        <img id="offf" src= <%= data.image_url %>  alt="">
        <h2> <%= data.title %> </h2>
        <h3> <%= data.author %> </h3>
        <h4> <%= data.description %> </h4>
        <h5><%= data.isbn  %> </h5>
        </div>
        
        <section id="middle">
            <button id="updateBtn">Update</button>
            <form id="formupdate" action="/updatebook/<%=data.id%>?_method=put" method="POST">
               <input type="text"  name="author" value="<%= data.author%>" />
               <br>
               <input type="text"  name="title" value="<%= data.title%>" />
               <br>
               <input type="text"  name="isbn" value="<%=data.isbn%>" />
               <br>
               <input type="text"  name="image_url" value="<%= data.image_url%>" />
               <br>
               <input type="text"  name="description" value=" <%= data.description%>" />
               <br>
               <button id="up" type="submit"> Update Book </button>
           </form>
           
           <form action="/deletebook/<%=data.id%>?_method=delete" method="POST">
            <button id="del">Delete Book</button>
           </form>
           
       </section>
        <% }) %>
    </section>
  </main>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../js/app.js"></script>

    

 